body { 
background-image: url("bg.jpg");
background-position: center center; 
background-repeat: no-repeat;
background-attachment: fixed;  
background-size: cover; 
background-color: #FFFADA;
}

.container {
max-width: 1000px;
background-color: #FFFADA;
}

.headtext {
 color: #5A5735;
 font: bold italic 100% sans-serif;
}

.headtext a {
 color: #5A5735;
 font: bold italic 100% sans-serif;
}

.menutext {
 color: #5A5735;
 font: bold italic 90% sans-serif;
}

.menutext a {
 color: #5A5735;
 font: bold italic 90% sans-serif;
}


.navbar{
background:#E8DFA2;
border-radius: 15px;
}
.nav-link , .navbar-brand{
 color: #5A5735;
 cursor: pointer;
}
.nav-link{
 font: bold italic 100% sans-serif;
 border-radius: 10px;
}

.nav-link:hover{
 background: #5A5735;
 color: #E8DFA2;
opacity: 1;
transition: 0.5s;
}

.navbar-toggler{
  background:#5A5735;
 color: #E8DFA2;
}

.content {
font: bold 100% sans-serif;
color: #5A5735;
line-height: 20px;
text-indent: 20px;
text-align: justify; 
}

.content {
animation:anim 1s;
animation-duration:1s;
}

@keyframes anim {
from {opacity:0;}
to {opacity:1;}
}

.content a {
text-decoration: underline;
}

.content h4 {
margin: 1em;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

.uslugi-menu {
background:#EFE9BC;
border-radius: 15px;
}

footer {
 border-top: 5px double #E8DFA2;
 color: #5A5735;
 font: bold italic 90% sans-serif;
 padding: 8px;
 margin-top: 5em;
}

#solyariy tr {
 border-top: 2px solid #E8DFA2;
 border-bottom: 2px solid #E8DFA2;
text-indent: 0;
}

a {
 color: #5A5735;
}

a:hover {
 color: #5A5735;
}

img-gal {
padding: 5px;
}


ul {
  padding-left: 0;
  margin-left: 10px;
  list-style: circle;

}

li {
 padding-left: 0px;
 text-indent: 0px;
}

.foto {
text-indent: 0;
}

.foto img {
margin: 10px;
}

.barcontainer {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 13px;
    height: 2px;
    background-color: #E8DFA2;
    margin: 3px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate( -5px, -5px) ;
    transform: rotate(-45deg) translate( -5px, 5px) ;
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate( -2px, -2px) ;
    transform: rotate(45deg) translate( -2px, -2px) ;
}




#uslugi .card-header {
cursor: pointer;
background-color: #FFFADA;
border-color: #B0AC79
}

#uslugi .card {
border-color: #B0AC79
}

#uslugi tr {
 border-top: 2px solid #E8DFA2;
 border-bottom: 2px solid #E8DFA2;
text-indent: 0;
text-align: left;
}

#uslugi h4 {
margin-top: 1.5em;
text-align: left;
}